.nav {
  box-sizing: border-box;
  font-style: "Noto Sans KR";
  min-width: 768px;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 11;
  height: 90px;
  padding: 0 120px 0 120px;
  background-color: #ffffff;

  .nav__container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    .nav__main {
      justify-content: flex-start;
      display: flex;
      align-items: center;
      & img {
        height: 17.5px;
        width: 90px;
      }
    }
    .nav__list {
      display: flex;
      justify-content: flex-end;
      .nav__list-item {
        width: 145px;
        border-right: solid 1px #969595;
        display: flex;
        align-items: center;
        justify-content: center;
        & button {
          display: flex;
          justify-content: center;
          height: 20px;
          font-size: 13px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.47;
          letter-spacing: normal;
          text-align: left;
          color: #2e2e2e;
          background-color: white;
          border: 0px;
        }
        & :hover {
          cursor: pointer;
          opacity: 100%;
          font-weight: 900;
        }
        &:last-child {
          border: none;
        }
      }
    }
  }
}
