.kakaoButton {
  position: fixed;
  width: 80px;
  height: 80px;
  bottom: 120px;
  right: 50px;
  border-radius: 80px;
  box-shadow: 0 8px 30px 8px rgba(72, 72, 72, 0.1);
  background-color: #e7f75c;
  border: none;
  text-decoration: none;
  padding: 10px 20px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $bc;
  font-family: "Noto Serif KR";
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.08);
  .kakaoCircle {
    width: 15px;
    height: 20px;
    .kakaoImg {
      width: 15px;
      height: 15px;
      font-weight: 500;
    }
  }
  .kakaoDesktop {
    font-size: 10px;
    font-weight: 900;
  }
}
