@import "../config/mixins.scss";

.feature {
  @include responsive("mobile") {
    padding: 100px 370px 100px 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
      width: 420px;
      text-align: center;
      font-size: 40px;
    }
    .feature__container {
      display: grid;
      grid-template-areas:
        "content1 content2"
        "content3 content4";
      margin-top: 30px;
      padding: 20px 20px 0px 20px;
      .content1 {
        grid-area: content1;
      }
      .content2 {
        grid-area: content2;
      }
      .content3 {
        grid-area: content3;
      }
      .content4 {
        grid-area: content4;
      }
      .feature__content {
        width: 300px;
        margin-right: 37px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        .feature__img {
          height: 125px;
        }
        .content__title {
          font-size: 19px;
          font-weight: 900;
          color: $bc;
          margin: 17px 0px;
        }
        .content__box {
          font-size: 16.5px;
          font-weight: 500;
          color: #2e2e2e;
          line-height: 1.76;
        }
        &:last-child {
          margin-right: 0px;
        }
      }
    }
  }
}

.feature {
  @include responsive("PC") {
    height: 649px;
    padding: 95px 370px 0px 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
      width: 390px;
      text-align: center;
    }
    .feature__container {
      display: flex;
      align-items: center;
      margin-top: 30px;
      padding: 20px 20px 0px 20px;
      .feature__content {
        height: 304px;
        width: 230px;
        margin-right: 37px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        .feature__img {
          height: 125px;
        }
        .content__title {
          font-size: 19px;
          font-weight: 900;
          color: $bc;
          margin: 17px 0px;
        }
        .content__box {
          font-size: 16.5px;
          font-weight: 500;
          color: #2e2e2e;
          line-height: 1.76;
        }
        &:last-child {
          margin-right: 0px;
        }
      }
    }
  }
}
