.review {
  padding: 100px 30px 0px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 790px;
  .title {
    width: 800px;
    text-align: start;
    color: #2e2e2e;
    line-height: 1.46;
    margin-bottom: 5px;
  }
  .tag {
    width: 800px;
    text-align: start;
    font-size: 28px;
    font-weight: 500;
    color: #2e2e2e;
    line-height: 1.46;
  }
  .review__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    margin: 57px 0px;
    & i {
      font-size: 20px;
      height: 20px;
      width: 10px;
      margin-bottom: 100px;
      cursor: pointer;
    }
    .review__box-father {
      width: 700px;
      display: flex;
      align-items: center;
    }
  }
}
