.title {
  font-size: 28px;
  font-weight: 900;
  color: #2e2e2e;
  line-height: 1.46;
}

.summary {
  .title {
    font-size: 35px;
  }
}
.bold {
  font-weight: bold;
}

.impact {
  font-weight: 900;
}
