* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Noto Sans KR";
  height: 100%;
  min-width: 768px;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  min-width: 768px;
}

.blank {
  height: 90px;
}

.term {
  height: 24px;
  background-color: #ececec;
  color: #ececec;
}

.summary {
  position: relative;
  height: 545px;
  background-image: url(../../dist/images/summary.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 146px 160px 0px 160px;

  line-height: 45px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .summary__discription {
    font-size: 20px;
    font-weight: 500;
    color: #010100;
    margin-bottom: 60px;
  }
  #subscribeButton {
    height: 62px;
    width: 222px;
    border-radius: 5px;
    border: solid 1px $bc;
    background-color: $bc;
    font-size: 19px;
    color: #ffffff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @keyframes delay {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  animation: delay 1s ease-out forwards;
}

.feature {
  height: 649px;
  padding: 95px 370px 0px 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    width: 390px;
  }
  .feature__container {
    display: flex;
    align-items: center;
    margin-top: 30px;
    padding: 20px 20px 0px 20px;
    .feature__content {
      height: 304px;
      width: 210px;
      margin-right: 37px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      .feature__img {
        height: 125px;
      }
      .content__title {
        font-size: 19px;
        font-weight: 900;
        color: $bc;
        margin: 17px 0px;
      }
      .content__box {
        font-size: 16.5px;
        font-weight: 500;
        color: #2e2e2e;
        line-height: 1.76;
      }
      &:last-child {
        margin-right: 0px;
      }
    }
  }
}

.service {
  height: 866px;
  padding: 100px 327px 0px 327px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    width: 800px;
    margin: 30px 0px;
    color: #2e2e2e;
  }
  .service__container {
    background-color: #d5f1ff;
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .service__title {
      color: #3b1f49;
      font-size: 25px;
      line-height: 2.24;
    }
    .service__title.impact {
      font-size: 30px;
      line-height: 1.77;
    }
    & img {
      margin: 5px 0px 26px 0px;
    }
    .service__discription {
      display: flex;
      margin-bottom: 39px;
      .word {
        font-size: 11px;
        color: #3b1f49;
        font-weight: bold;
        line-height: 1.1;
        padding: 0px 34px;
      }
      .plus {
        font-size: 13px;
        color: #3b1f49;
        line-height: 1.23;
        font-weight: bold;
      }
    }
  }
  .reference {
    font-size: 10px;
    font-weight: 500;
    color: #848484;
    line-height: 4;
    width: 1000px;
    text-align: end;
  }
  .content__box {
    width: 666px;
    margin: 29px 100px 120px 100px;
    text-align: center;
    .service__content {
      color: #2e2e2e;
      font-size: 23px;
      line-height: 1.74;
    }
  }
}

.review {
  padding: 100px 30px 0px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 790px;
  .title {
    width: 800px;
    text-align: start;
    color: #2e2e2e;
    line-height: 1.46;
    margin-bottom: 5px;
  }
  .tag {
    width: 800px;
    text-align: start;
    font-size: 28px;
    font-weight: 500;
    color: #2e2e2e;
    line-height: 1.46;
  }
  .review__container {
    margin-top: 57px;
    width: 1000px;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    align-items: center;
    .review__box {
      width: 318px;
      height: 500px;
      box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.08);
      border-radius: 20px;
      background-color: #ffffff;
      margin: 0px 40px 87px 40px;
      & img {
        height: 317px;
        width: 100%;
        border-radius: 20px 20px 0px 0px;
      }
      .review__content {
        background-color: #fafafa;
        display: flex;
        border: red;
        padding: 15px;
        border-radius: 0px 0px 14px 14px;
        .review__user {
          width: 40px;
          height: 40px;
          & img {
            width: 40px;
            height: 40px;
            border-radius: 40px;
          }
        }
        .review__profile {
          margin: 0px 10px;
          height: 160px;
          .review__id {
            width: 100px;
            height: 40px;
            font-size: 15px;
            padding-bottom: 5px;
            display: flex;
            align-items: center;
          }
          .review__ment {
            padding-right: 25px;
            margin-top: 5px;
            font-size: 15px;
            width: 250px;
            white-space: normal;
          }
        }
      }
    }
  }
}

.howToUse {
  padding: 100px 450px 200px 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    width: 104px;
    margin-bottom: 58px;
    line-height: 1.46;
  }
  .use__container {
    display: flex;
    align-items: center;
    & img {
      width: 7.3px;
      height: 74.4px;
      margin: 0px 15px;
    }
    .use__content {
      width: 220px;
      height: 324px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 14px;
      box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.08);
      .number {
        font-size: 25px;
        font-weight: 900;
        color: $bc;
        line-height: 1.2;
        margin-top: 16px;
        margin-bottom: 70px;
      }
      & img {
        width: 83px;
        height: 60px;
      }
      .content__subtitle {
        margin-top: 51px;
        font-size: 15px;
        font-weight: 900;
        line-height: 2;
        color: $bc;
      }
      .content__discription {
        margin-top: 10px;
        text-align: center;
        font-size: 13px;
        font-weight: 500;
        color: #787878;
        line-height: 1.54;
        padding: 0px 30px;
      }
    }
  }
}

.subscribe {
  /*background-image: url(../../dist/images/subscribe.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
  background-color: #3d1c4c;
  padding: 100px 442px 60px 442px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .subscribe__comment {
    color: #ffffff;
    width: 1000px;
    text-align: start;
  }
  .subscribe__content {
    display: flex;
    align-items: center;
    margin: 43px 0px;
    height: 370px;
    .group_54 {
      width: 350px;
      height: 265px;
    }
    .price {
      width: 550px;
      height: 360px;
      margin-left: 100px;
    }
  }

  #subscribeButton {
    width: 318px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 45px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    font-size: 25px;
    font-weight: 900;
    color: $bc;
  }
}

.qna {
  padding: 120px 200px 160px 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    width: 1000px;
    text-align: start;
  }
  .qna__container {
    margin-top: 12px;
    width: 1040px;
    .first__floor {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .second__floor {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .qna__box {
      position: relative;
      width: 496px;
      height: 429px;
      margin: 12.5px;
      background-color: #f6f6f6;
      .question {
        position: absolute;
        top: 43px;
        right: 40px;
        left: 40px;
        display: flex;
        .q {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 17px;
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          background-color: $bc;
          font-size: 24px;
          font-weight: 900;
          color: #ffffff;
          line-height: 1.5;
          margin-right: 26px;
          width: 58px;
          height: 39px;
        }
        .q__comment {
          width: 324px;
          font-size: 24px;
          font-weight: 900;
          color: #2e2e2e;
          line-height: 1.5;
        }
      }
      .answer {
        display: flex;
        position: absolute;
        top: 148px;
        right: 40px;
        left: 40px;
        .a {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 58px;
          height: 39px;
          border-radius: 17px;
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          background-color: #ffffff;
          margin-right: 26px;
          font-size: 24px;
          font-weight: 900;
          line-height: 1.5;
          color: $bc;
        }
        .a__container {
          width: 324px;
          font-size: 18px;
          color: #2e2e2e;
          line-height: 1.83;
        }
      }
    }
  }
}
